.root{
    -fx-background-image: url(../../resource/image/background/background2.jpg);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
#playButton, #highScoreButton, #exitButton, #nation1, #nation2, #normalButton, #hardButton{
    -fx-font-family: "Comic Sans MS";
    /*    -fx-font-style: italic; */
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(to bottom,#FFA500,#F15412);
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-height: 65px;
    -fx-pref-width: 200px;
}
#playButton:hover, #highScoreButton:hover, #exitButton:hover, #nation1: hover, #nation2:hover, #normalButton: hover, #hardButton: hover {
    -fx-border-color: gray;
    -fx-text-fill: white;
}
#playButton:pressed, #highScoreButton:pressed, #exitButton:pressed {
    -fx-background-color: #235891;
    -fx-background-color: linear-gradient(to bottom, #F15412, #B20600);
}

#soundButton {
    -fx-background-image: url(../../resource/image/button/speaker-filled-audio-tool.png);
    -fx-background-size: 50%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50%;
    -fx-background-color: #3895D3;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}
#soundButton:muted{
    -fx-background-image: url(../../resource/image/button/mute.png);
}

#soundButton:hover, .difficulty:hover{
    -fx-background-color: #146bb3;
}

#soundButton:pressed, .difficulty:pressed{
    -fx-background-color: #0f5084;
}

.difficulty {
    -fx-font-smooth: always;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: 600;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #3895D3;
    -fx-pref-height: 60px;
    -fx-pref-width: 100px;
}

#gridPane {
    -fx-border-radius: 20px;
    -fx-background-color: #FAF0D7;

}


/*css cho bang */

.table-view {
    -fx-opacity: 1;
    -fx-font-family: "Comic Sans MS";
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-alignment: center;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:selected {
    -fx-text-background-color:red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}
.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}
.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}


#userNameLabel_Game {
    -fx-text-fill: #333333;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); */

    -fx-font-smooth: always;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: 600;
    -fx-font-size: 30px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #3895D3;
}
#resultWinLabel_Game, #resultLoseLabel_Game {
    -fx-text-fill: #333333;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); */

    -fx-font-smooth: always;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: 600;
    -fx-font-size: 30px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #F2D7D9;


